<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi <%= @user.first_name %>, </h2><br>
    <h1>Thank you for joining isa-airbnb!</h1><br>
    <p>
      Login to your account and start going places: <%= @url %>.<br><br>

      Thanks for using isa-airbnb and have a great day!
    </p>
    <br><br><br>
    <p>Cheers,</p>
    <p>Isabel</p>
    <p>Isa-airbnb</p>
  </body>
</html>
