<div class="text-field">
  <%= form.label :first_name %>
  <input type="text" name="user[first_name]" class="form-control" style="width: 300px" required>
</div>

<div class="text-field">
  <%= form.label :last_name %>
  <input type="text" name="user[last_name]" class="form-control" style="width: 300px" required>
</div>

<div class="text-field">
  <%= form.label :email %>
  <input type="text" name="user[email]" class="form-control" style="width: 300px" required>
</div>

<div class="password-field">
  <%= form.label :password %>
  <input type="password" name="user[password]" class="form-control" style="width: 300px" required>
</div>
