<br>
<h2>My Profile</h2>
<br>

	Name: <%= @user.first_name %>
	<%= @user.last_name %>
	<br>
	Email: <%= @user.email %>
	<br>

	<br><br>

	<div>
		<%= link_to "Edit Profile", edit_user_path(current_user) %>
	</div>