<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations! You have received a booking from <%= "#{@guest.first_name} #{@guest.last_name}" %></h1>
    <p>
      Login to your account to take a look at the booking details: <%= @url %>

      Thanks for using isa-airbnb and have a great day!
    </p>
    <br><br><br>
    <p>Cheers,</p>
    <p>Isabel</p>
    <p>Isa-airbnb</p>
  </body>
</html>
